{% extends 'base.html' %}

{% block title %}دعائیں{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-5 font-weight-bold" style="color: #004d40;">اسلامی دعائیں</h2>

    <div class="row">
        {% for prayer in prayers %}
        <div class=" col-md-4 col-sm-6 mb-4  text-right">
            <div class="card h-100 shadow-lg border-0">
                <div class="card-body d-flex flex-column" style="background-color: #f9f9f9;">
                    <!-- Prayer Name -->
                    <div class="mb-3">
                        <h5 class="card-title text-success" style="font-size: 1.25rem;">{{ prayer.name }}</h5>
                    </div>

                    <!-- Prayer Description -->
                    <div class="flex-grow-1 mb-3">
                        <p class="card-text" style="font-size: 1.1rem; color: #555;">{{ prayer.description }}</p>
                    </div>

                    <!-- Button to Show More or Favorite -->
                    <div>
                        <a href="#" class="btn btn-primary btn-block mt-auto" style="font-size: 1rem;">مزید معلومات</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
