<div class="sidebar">
    <h2>Navigation</h2>
    <a href="{% url 'quran_verses' %}"><i class="fas fa-book"></i> Quran Verses</a>
    <a href="{% url 'prayers' %}"><i class="fas fa-pray"></i> Prayers</a>
    <a href="{% url 'haddess' %}"><i class="fas fa-mosque"></i> Hadees</a>
    <a href="{% url 'sunnahs' %}"><i class="fas fa-mosque"></i> Sunnah</a>
    <a href="{% url 'alarms' %}"><i class="fas fa-clock"></i> Alarms</a>
    <a href="{% url 'islamic_calendar' %}"><i class="fas fa-calendar-alt"></i> Islamic Calendar</a>
    <a href="{% url 'update_settings' %}"><i class="fas fa-cogs"></i> Settings</a>
</div>
